.register-situation {
  height: 563px;
}

.text-situation {
  text-align: center;
  color: #2581b2;
  font-size: 1.4rem;
  font-family: "IBM Plex Mono";
  font-weight: bold;
}

.situation img {
  height: 128px;
}

.situation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
