
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f9faff, #e6e6fa);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    text-align: center;
}

h1, h2, h3 {
    color: #7B5EA7;
}

p {
    color: #555;
    font-size: 16px;
}

input, select {
    flex: 1;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button, .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: #A7C7E7;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

button:hover, .btn:hover {
    background-color: #C8A2C8;
    transform: scale(1.05);
}

.lista-alunos {
    text-align: left;
    margin-top: 15px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 300px;
}

label {
    width: 70px;
    text-align: left;
}