<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> Alfabetização Hospitalar </title>
</head>

<body>
    <div class="container">
        <h1>Seja Bem-Vindo!</h1>
        <h2>Você é?</h2>

        <div class="botoes">
            <a href="/aluno" class="btn">Aluno</a>
            <a href="/professor" class="btn">Professor</a>
        </div>
    </div>

</body>

</html>