<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> Painel do Professor </title>
</head>

<body>

    <div class="container">
        <h2>Alunos Cadastrados</h2>

        <div class="lista-alunos">
            {% for aluno in alunos %}
                <p>• {{ aluno }}</p>
            {% endfor %}
        </div>

        <a href="/" class="btn">Voltar</a>
    </div>

</body>

</html>