<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">>
    <title>Página de Login</title>
</head>

  <body>

<header>

<h1>Login</h1>

<form action="/login" method="POST">

  <label>Tipo de usuário</label><br>
  <select name="tipo" required>
    <option value="">Selecione</option>
    <option value="aluno">Aluno</option>
    <option value="professor">Professor</option>
  </select>

  <br><br>

  <label>Email:</label><br>
  <input type="email" name="email" placeholder="Digite seu email" required>

  <br><br>

  <label>Senha:</label><br>
  <input type="password" name="senha" placeholder="Digite sua senha" required>

  <br><br>

  <button type="submit">Entrar</button>

</form>

</header>


    </body>
</html>